
/* Basic transitions for route changes */
.fade-enter { opacity: 0.01; }
.fade-enter-active { opacity: 1; transition: opacity 300ms ease-in; }
.fade-exit { opacity: 1; }
.fade-exit-active { opacity: 0.01; transition: opacity 300ms ease-in; }

.card-img-top { object-fit: cover; height: 200px; }
.wishlist-btn { min-width: 140px; }
